In [1]:
import requests
resp = requests.get("http://openlibrary.org/search.json?title=to+kill+a+mockingbird")

In [2]:
info = resp.json() #info is a dictionary

In [9]:
import requests

book_name = input()
query_book = book_name.lower()
query_book = query_book.replace(' ','+')
#print(query_book)

resp = requests.get(f"http://openlibrary.org/search.json?title={query_book}")
info = resp.json()
author_name = info['docs'][0]['author_name'][0]
publishing_year = info['docs'][0]['first_publish_year']

print(f"Author of {book_name} is {author_name}. It was first published in {publishing_year}")

the fountainhead
Author of the fountainhead is Ayn Rand. It was first published in 1943

In [10]:
import requests

book_name = input()
query_book = book_name.lower()
query_book = query_book.replace(' ','+')
#print(query_book)

resp = requests.get(f"http://openlibrary.org/search.json?title={query_book}")
info = resp.json()

print(info['docs'][0]['id_amazon'])
for i in range(5):
    author_name = info['docs'][i]['author_name'][0]
    publishing_year = info['docs'][i]['first_publish_year']

    print(f"Author of {book_name} is {author_name}. It was first published in {publishing_year}")

the fountainhead
['']
Author of the fountainhead  is Ayn Rand. It was first published in 1943
Author of the fountainhead  is Erskine, Ralph. It was first published in 1740
Author of the fountainhead  is Ayn Rand. It was first published in 1943
Author of the fountainhead  is Ganga Prasad Upadhyaya. It was first published in 1916
Author of the fountainhead  is Donald Leslie Johnson. It was first published in 2005

In [16]:
import pandas as pd
import numpy as np

rating = pd.read_csv("rating.csv", sep="\t", header=None)
rating.head()

C:\Users\harsh\AppData\Local\Temp\ipykernel_3088\440302663.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  rating = pd.read_csv("rating.csv", sep="\t", header=None)

                    0                   1       2           3
0               Works               Books  Rating        Date
1  /works/OL17882343W                 NaN       3  2018-06-20
2   /works/OL1629179W  /books/OL22981670M       5  2018-06-20
3   /works/OL4226036W  /books/OL10690412M       5  2018-06-20
4   /works/OL5264255W   /books/OL2719185M       5  2018-06-20

In [40]:
import requests

author_name = input().lower().replace(' ','+')
resp = requests.get(f"https://openlibrary.org/search/authors.json?q={author_name}")
info = resp.json()
aut_key = info['docs'][0]['key']
aut_works = requests.get(f"https://openlibrary.org/authors/{aut_key}/works.json")
aut_works_info = aut_works.json()
for i in range(5):
    print(aut_works_info['entries'][i]['title'])

Zahir
Nelabais un senjorita Prima
Peregrino, El
La Quinta Montana
Pilgrimage